@model IEnumerable<MarktSys_ASP_NET_CORE.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <a asp-controller="Administrativo" asp-action="NovaCategoria" class="btn btn-success">Criar nova categoria</a>
</p>

